<template>
  <div style="height: 100%">
    <Navbar/>
    <div class="postnavbar"></div>
    <ErrorMessage v-if="isErrorOccured"/>
      <Loader
        v-if="isLoading"
      />
      <div class="ui grid" style="height: 100%" v-if="!isLoading">
        <!-- Links section -->
        <div class="twelve wide column">
          <div class="ui segment basic">
            <div class="ui three column doubling stackable masonry grid">
                <Card
                  v-for="link in board.links"
                  :key="link.id"
                  :id="link.id"
                  :name="link.name"
                  :url="link.url"
                  :tags="link.tags"
                  :imageUrl="link.imageUrl"
                  :excerpt="link.excerpt"
                  :added="link.added"
                />
            </div>
          </div>
        </div>
        <!-- Side panel section -->
        <div class="four wide column">
          <!-- Board info -->
          <div class="ui segment" style="height: 100%">
            <h2 class="ui center aligned header" style="padding-top: 10; padding-bottom: 10; text-transform: capitalize;">
              {{board.name}}
            </h2>
            <div class="ui two column centered grid">
              <div class="center aligned column">
                  <i class="chain icon" style="padding-right: 0"></i> Links on board: {{board.links.length}}
              </div>
              <div class="center aligned column">
                       Is open: <i class="icon" v-bind:class="{ lock: !board.isOpen, unlock: board.isOpen }" style="padding-right: 0"></i>
              </div>
              <div class="center aligned column">
                  <button class="ui icon button" @click="redirectToEdit()">
                      <span><i class="icon edit"></i></span> Edit links in board
                  </button>
              </div>
              <div class="row">
                <div class="sixteen wide column">
                    <form class="ui form">
                        <div class="field">
                            <label>Public link</label>
                            <div class="ui fluid action input">
                                <input placeholder="Search..." type="text" :value="this.publicBoardLink"
                                    readonly="readonly">
                                <button class="ui right  icon button">
                                    <i class="copy icon"></i>
                                    Copy
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
              </div>
              <!-- Board settings -->
              <BoardSettingsFormVertical
                :isOpenProp="board.isOpen"
                :nameProp="board.name"
                :updateDataCallback="updateBoard"
              />
            </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

import { FETCH_BOARD_ACTION, UPDATE_BOARD_ACTION } from './module'

import Navbar from '@/components/Navbar.vue'
import Loader from '@/components/Loader.vue'
import Card from '@/components/Card.vue'
import BoardSettingsForm from '@/components/BoardSettingsForm.vue'
import BoardSettingsFormVertical from '@/components/BoardSettingsFormVertical.vue'
import ErrorMessage from '@/components/ErrorMessage.vue'

export default {
  name: 'board',
  components: {
    Navbar,
    Loader,
    Card,
    BoardSettingsForm,
    BoardSettingsFormVertical,
    ErrorMessage
  },
  created: async function () {
    this.fetchBoardAction(this.$route.params.id)
  },
  methods: {
    ...mapActions('board', {
      fetchBoardAction: FETCH_BOARD_ACTION,
      updateBoardAction: UPDATE_BOARD_ACTION
    }),
    openSettingsSegment: function () {
      this.isSettingsSegmentOpen = !this.isSettingsSegmentOpen
    },
    updateBoard: async function (isOpen, name) {
      let linkIds = this.board.links.map((link) => {
        return link.id
      })

      await this.updateBoardAction({
        boardId: this.board.id,
        linksIds: linkIds,
        name: name,
        isOpen: isOpen
      })
    },
    redirectToEdit: function () {
      this.$router.push({ name: 'editBoard', params: { id: this.board.id } })
    }
  },
  computed: {
    ...mapState('board', {
      isLoading: state => state.isLoading,
      board: state => state.board
    }),
    ...mapState({
      isErrorOccured: state => state.isErrorOccured
    }),
    publicBoardLink: function () {
      const a = document.createElement('a')
      a.href = this.$router.resolve({ name: 'publicBoard', params: { id: this.board.id } }).href
      return a.protocol + '//' + a.host + a.pathname + a.search + a.hash
    }
  },
  data: function () {
    return {
      isSettingsSegmentOpen: false
    }
  }
}
</script>
