<template>
    <div>
      <ErrorMessage v-if="isErrorOccured"/>
      <Loader v-if="isLoading"/>
      <div class="ui segment basic">
        <h2 class="ui center aligned header" style="padding-top: 20; padding-bottom: 20; text-transform: capitalize;">{{board.name}}</h2>
        <div class="ui three column doubling stackable masonry public grid">
            <Card
              v-for="link in board.links"
              :key="link.id"
              :id="link.id"
              :name="link.name"
              :url="link.url"
              :tags="link.tags"
              :imageUrl="link.imageUrl"
              :excerpt="link.excerpt"
              :added="link.added"
            />
        </div>
      </div>
    </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

import { FETCH_BOARD_ACTION, CLEAN_BOARD_ACTION } from './module'

import Loader from '@/components/Loader.vue'
import Card from '@/components/Card.vue'
import ErrorMessage from '@/components/ErrorMessage.vue'

export default {
  name: 'publicBoard',
  components: {
    Loader,
    Card,
    ErrorMessage
  },
  created: async function () {
    this.cleanBoardAction()
    this.fetchBoardAction(this.$route.params.id)
  },
  methods: {
    ...mapActions('publicBoard', {
      fetchBoardAction: FETCH_BOARD_ACTION,
      cleanBoardAction: CLEAN_BOARD_ACTION
    })
  },
  computed: {
    ...mapState('publicBoard', {
      isLoading: state => state.isLoading,
      board: state => state.board
    }),
    ...mapState({
      isErrorOccured: state => state.isErrorOccured
    })
  }
}
</script>
