<template>
  <div>
    <Navbar/>
    <div class="postnavbar"></div>
    <ErrorMessage v-if="isErrorOccured"/>
    <div class="ui two column grid">
      <div class="column" style="border-right: 1px solid rgb(217, 217, 217);">
        <div class="ui segment padded basic">
            <h3 class="ui header">Links</h3>
            <div class="ui form">
                <div class="field">
                    <div class="ui icon input">
                        <i class="search icon"></i>
                        <input placeholder="Search" type="text" :value="linksSection.searchTerm" @input="handleSearchInput">
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
             <div
              v-masonry transition-duration="0.5s" item-selector=".column"
              class="ui three column doubling board-create grid"
              v-infinite-scroll="fetchNewLinks" infinite-scroll-disabled="busy"
              infinite-scroll-distance="30"
              >
                <Card
                  v-masonry-tile
                  v-for="link in linksSection.links"
                  :key="link.id"
                  :id="link.id"
                  :name="link.name"
                  :url="link.url"
                  :tags="link.tags"
                  :imageUrl="link.imageUrl"
                  :excerpt="link.excerpt"
                  :addLink="()=>{addLinkAction(link)}"
                  :added="link.added"
                />
             </div>
             <div class="ui segment basic">
               <Loader v-if="isLoading"/>
             </div>
        </div>
      </div>
      <div class="column">
        <div class="ui segment padded basic ">
          <h3 class="ui header">Board</h3>
          <BoardSettingsForm
              :isOpenProp="board.isOpen"
              :nameProp="board.name"
              :updateDataCallback="createBoard"
          />
          <div class="ui three column doubling stackable masonry board-create grid">
              <Card
                v-for="link in board.links"
                :key="link.id"
                :id="link.id"
                :name="link.name"
                :url="link.url"
                :tags="link.tags"
                :imageUrl="link.imageUrl"
                :excerpt="link.excerpt"
                :removeLink="()=>{removeLinkAction(link)}"
                :added="link.added"
              />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import _ from 'lodash'

import {
  FETCH_LINKS_ACTION, ADD_LINK_TO_BOARD_ACTION, REMOVE_LINK_FROM_BOARD_ACTION, CHANGE_TERM_ACTION,
  CREATE_BOARD_ACTION, CLEAN_PAGE_ACTION, FETCH_BOARD_ACTION, UPDATE_BOARD_ACTION
} from './module'

import Navbar from '@/components/Navbar.vue'
import Loader from '@/components/Loader.vue'
import Card from '@/components/Card.vue'
import BoardSettingsForm from '@/components/BoardSettingsForm.vue'
import ErrorMessage from '@/components/ErrorMessage.vue'

export default {
  name: 'createBoard',
  components: {
    Navbar,
    Loader,
    Card,
    BoardSettingsForm,
    ErrorMessage
  },
  methods: {
    ...mapActions('createBoard', {
      fetchLinksAction: FETCH_LINKS_ACTION,
      addLinkAction: ADD_LINK_TO_BOARD_ACTION,
      removeLinkAction: REMOVE_LINK_FROM_BOARD_ACTION,
      changeSearchTermAction: CHANGE_TERM_ACTION,
      createBoardAction: CREATE_BOARD_ACTION,
      cleanPageAction: CLEAN_PAGE_ACTION,
      fetchBoardAction: FETCH_BOARD_ACTION,
      updateBoardAction: UPDATE_BOARD_ACTION
    }),
    fetchNewLinks: async function () {
      if (this.isLoading) {
        return
      }
      await this.fetchLinksAction()
    },
    handleSearchInput: _.debounce(async function (e) {
      this.changeSearchTermAction(e.target.value)
      await this.fetchLinksAction()
    }, 500),
    createBoard: async function (isOpen, name) {
      if (this.board.id) {
        await this.updateBoardAction({
          boardName: name,
          isOpen: isOpen
        })
        this.$router.push({ name: 'board', params: { id: this.board.id } })
      } else {
        await this.createBoardAction({
          boardName: name,
          isOpen: isOpen
        })
        this.$router.push({ name: 'dashboard' })
      }
    }
  },
  created: async function () {
    await this.cleanPageAction()

    if (this.$route.params.id) {
      await this.fetchBoardAction(this.$route.params.id)
      await this.fetchLinksAction()
    }
  },
  computed: {
    ...mapState('createBoard', {
      isLoading: state => state.isLoading,
      board: state => state.board,
      linksSection: state => state.linksSection
    }),
    ...mapState({
      isErrorOccured: state => state.isErrorOccured
    })
  }
}
</script>
