<template>
  <div class="ui dimmable dimmed">
    <Navbar/>
    <div class="postnavbar"></div>
    <ErrorMessage v-if="isErrorOccured"/>
    <div class="ui segment basic">
      <h3 class="ui header">Boards</h3>
      <div v-if="!isLoading">
        <div class="ui three column doubling stackable masonry grid " v-if="boards.length">
          <Board
            v-for="board in boards"
            :key="board.id"
            :id="board.id"
            :name="board.name"
            :linksCount="board.linksCount"
            :isOpen="board.isOpen"
            :deleteBoardCallback="deleteBoard"
          />
        </div>
        <div class="ui placeholder basic segment" v-if="!boards.length">
          <div class="ui icon header">
            <i class="dont icon"></i>
            No boards have been added yet
          </div>
          <router-link :to="{name: 'createBoard'}" class="ui primary button">Add Board</router-link>
        </div>
      </div>
      <Loader v-if="isLoading"/>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { FETCH_BOARDS_ACTION, DELETE_BOARD_ACTION } from './module.js'

import Board from '@/components/Board.vue'
import Navbar from '@/components/Navbar.vue'
import Loader from '@/components/Loader.vue'
import ErrorMessage from '@/components/ErrorMessage.vue'

export default {
  name: 'dashboard',
  components: {
    Navbar,
    Board,
    Loader,
    ErrorMessage
  },
  methods: {
    ...mapActions('dashboard', {
      fetchBoards: FETCH_BOARDS_ACTION,
      deleteBoard: DELETE_BOARD_ACTION
    })
  },
  created: async function () {
    await this.fetchBoards()
  },
  computed: {
    ...mapState('dashboard', {
      isLoading: state => state.isLoading,
      boards: state => state.boards
    }),
    ...mapState({
      isErrorOccured: state => state.isErrorOccured
    })
  }
}
</script>

<style scoped="true">
.postnavbar {
  padding-top: 50px
}
</style>
