<template>
<div class="row">
  <div class="sixteen wide column">
    <div class="ui form">
      <h4 class="ui dividing header">Board settings</h4>
      <div class="field">
          <label for="">Board name</label>
          <input type="text" placeholder="Board name" v-model="name">
      </div>
      <div class="field">
          <div class="ui toggle checkbox" v-bind:class="{ checked: isOpen }" >
              <input type="checkbox" tabindex="0" class="hidden" v-model="isOpen">
              <label @click="toggleOpennes">Make board open</label>
          </div>
      </div>
      <div class="field">
          <button class="ui primary button" @click="saveForm">
              Save
          </button>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'boardSettingsFormVertical',
  data: function () {
    return {
      isOpen: false,
      isOpenDefault: false,
      name: '',
      nameDefault: ''
    }
  },
  props: {
    isOpenProp: Boolean,
    nameProp: String,
    updateDataCallback: Function
  },
  created: function () {
    this.name = this.nameProp
    this.nameDefault = this.nameProp
    this.isOpen = this.isOpenProp
    this.isOpenDefault = this.isOpenProp
  },
  methods: {
    setOpen: function () {
      this.isOpen = true
    },
    setClosed: function () {
      this.isOpen = false
    },
    saveForm: function (e) {
      this.updateDataCallback(this.isOpen, this.name)
    },
    restoreDefaults: function (e) {
      this.name = this.nameDefault
      this.isOpen = this.isOpenDefault
    },
    toggleOpennes: function () {
      this.isOpen = !this.isOpen
    }
  }
}
</script>
