<template>
    <div class="column">
      <div class="ui fluid card">
          <div class="content">
              <!-- <span class="right floated">
                  <i class="lock icon" v-if="!isOpen"></i>
                  <i class="chain icon" style="padding-right: 0"></i>{{this.linksCount}}
              </span> -->
              <div class="header">
                  <!-- <a href="./board.html">{{this.name}}</a> -->
                  <router-link :to="{ name: 'board', params: { id: id }}" class="item">{{this.name}}</router-link>
              </div>
              <!-- <div class="meta">
                  <span class="date">November 16th, 2016</span>
              </div> -->
              <!-- <div class="description">
              </div> -->
          </div>
          <div class="extra content">
              <span class="left floated like">
                <i class="chain icon" style="padding-right: 0"></i>{{this.linksCount}}
              </span>
              <span class="right floated">
                <span v-if="isOpen">Visibility: open</span>
                <span v-if="!isOpen">Visibility: closed</span>
              </span>
          </div>
          <div class="ui bottom attached button" @click="deleteBoardCallback(id)">
              <i class="trash icon"></i> Delete
          </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'board',
  props: {
    id: String,
    name: String,
    linksCount: Number,
    isOpen: Boolean,
    deleteBoardCallback: Function
  }
}
</script>
