<template>
  <div class="ui form">
    <div class="inline fields">
      <div class="six wide inline field">
        <input name="name" placeholder="Name" type="text" v-model="name">
      </div>

      <div class="inline field">
        <div class="ui buttons">
          <button class="ui button" :disabled="isOpen" @click="setOpen">
            Open
          </button>
          <button class="ui button" :disabled="!isOpen" @click="setClosed">
            Close
          </button>
        </div>
      </div>

      <div class=" inline field">
        <div class="ui buttons">
          <button class="ui primary button" @click="saveForm">
            Save
          </button>
          <button class="ui button" @click="restoreDefaults">
            Cancel
          </button>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: 'boardSettingsForm',
  data: function () {
    return {
      isOpen: false,
      isOpenDefault: false,
      name: '',
      nameDefault: ''
    }
  },
  props: {
    isOpenProp: Boolean,
    nameProp: String,
    updateDataCallback: Function
  },
  watch: {
    nameProp: function (val) {
      this.name = val
      this.nameDefault = val
    },
    isOpenProp: function (val) {
      this.isOpen = val
      this.isOpenDefault = val
    }
  },
  methods: {
    setOpen: function () {
      this.isOpen = true
    },
    setClosed: function () {
      this.isOpen = false
    },
    saveForm: function (e) {
      this.updateDataCallback(this.isOpen, this.name)
    },
    restoreDefaults: function (e) {
      this.name = this.nameDefault
      this.isOpen = this.isOpenDefault
    }
  }
}
</script>
