<template>
<div class="column">
    <div class="ui fluid card">
        <div class="image" v-if="imageUrl">
            <img :src="this.imageUrl"
                class="ui wireframe image">
        </div>
        <div class="content">
            <div class="header">
                <a :href="this.url" target="_blank">{{this.cardName}}</a>
            </div>
            <!-- <div class="meta">
                {{this.added}}
            </div> -->
            <div class="description" v-if="excerpt">
              {{excerpt.slice(0, 100)}} ...
            </div>
        </div>
        <div class="extra content" v-if="this.tags.length">
            <a class="ui basic label" v-for="tag in this.tags" :key="tag">
                <i class="tag icon"></i>
                {{tag}}
            </a>
        </div>
        <button @click="addLink()" class="ui icon button" v-if="addLink">Add<i class="icon angle right"></i></button>
        <button @click="removeLink()" class="ui icon button" v-if="removeLink"><i class="icon angle left"></i>Remove</button>
    </div>
</div>
</template>

<script>
export default {
  name: 'card',
  props: {
    id: String,
    name: String,
    url: String,
    tags: Array,
    imageUrl: String,
    addLink: Function,
    removeLink: Function,
    excerpt: String,
    added: String
  },
  computed: {
    cardName: function () {
      return this.name || this.url
    }
  }
}
</script>
