<template>
  <div class="ui dimmer modals page transition visible active" style="display: flex !important;">
    <div class="ui small basic test modal transition visible active">
      <div class="ui icon header">
        <i class="exclamation triangle icon"></i>
        Something went wrong
      </div>
      <div class="content">
        <p class="ui center align">We reach troubles, try to reload page</p>
      </div>
      <div class="actions">
        <div class="ui basic cancel inverted button">
          <i class="undo alternate icon"></i>
          Reload page
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>
