<template>
<div class="ui icon error message">
  <i class="exclamation triangle icon"></i>
  <div class="content">
    <div class="header">
      Ooops...
    </div>
    <p>Something went wrong! Try to reload page</p>
  </div>
</div>
</template>

<script>
export default {

}
</script>
