<template>
  <div class="ui top fixed tiny menu">
      <router-link :to="{name: 'dashboard'}" class=" item"><h3>Stash</h3></router-link>
      <router-link :to="{name: 'createBoard'}" class="item">New board</router-link>
      <div class="right menu">
        <a @click="callLogout" class="ui item">
          Logout
        </a>
      </div>
  </div>
</template>

<script>
import client from '../client/client'

export default {
  name: 'navbar',
  methods: {
    async callLogout () {
      await client.logout()
      this.$router.push({ name: 'login' })
    }
  }

}
</script>
