<template>
  <div id="app" style="height: 100%">
    <router-view/>
  </div>
</template>

<style>
@import 'https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css';

.masonry.grid {
    display: block;
  }

@media only screen and (min-width: 768px) {
  .masonry.grid {
    -webkit-column-count: 2;
        -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 0;
        -moz-column-gap: 0;
            column-gap: 0;
  }

  .ui.doubling.masonry.grid[class*="three column"] > .column {
    width: 100% !important;
  }
}

@media only screen and (min-width: 992px) {
  .masonry.grid {
    -webkit-column-count: 3;
        -moz-column-count: 3;
            column-count: 3;
  }
}

@media only screen and (min-width: 1200px) {
  .masonry.grid {
    -webkit-column-count: 5;
        -moz-column-count: 5;
            column-count: 5;
  }

  .masonry.board-create.grid {
      -webkit-column-count: 3;
          -moz-column-count: 3;
              column-count: 3;
    }
}

@media only screen and (min-width: 1600px) {
  .masonry.grid {
    -webkit-column-count: 6;
        -moz-column-count: 6;
            column-count: 6;
  }

  .masonry.public.grid {
    -webkit-column-count: 7;
        -moz-column-count: 7;
            column-count: 7;
  }

  .masonry.board-create.grid {
      -webkit-column-count: 3;
          -moz-column-count: 3;
              column-count: 3;
    }
}

.postnavbar {
  padding-top: 45px
}
</style>
