<template>
<div class="page-login">
  <div class="ui centered grid container">
    <div class="nine wide column">
      <div class="ui icon warning message" v-show="showErrorMessage">
          <i class="lock icon"></i>
          <div class="content">
            <div class="header">
              Login failed!
            </div>
            <p>You might have misspelled your username or password!</p>
          </div>
        </div>
      <div class="ui fluid card">
        <div class="content">
        <div class="ui form" method="POST">
          <div class="field">
            <label>User</label>
            <input type="text" name="user" placeholder="User" v-model="username">
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password" name="pass" placeholder="Password" v-model="password">
          </div>
          <button class="ui primary labeled icon button" type="submit" @click="loginMethod">
            <i class="unlock alternate icon"></i>
            Login
          </button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

import { LOGIN_ACTION } from './module'

export default {
  name: 'login',
  data: function () {
    return {
      username: '',
      password: ''
    }
  },
  computed: {
    ...mapState('login', {
      showErrorMessage: state => state.showErrorMessage
    })
  },
  methods: {
    ...mapActions('login', {
      loginAction: LOGIN_ACTION
    }),
    loginMethod: async function () {
      await this.loginAction({
        username: this.username,
        password: this.password
      })

      this.$router.push({ name: 'dashboard' })
    }
  }
}
</script>

<style>
.page-login {
  margin-top: 25px;
}
</style>
